[data-image-anims] {
    position: relative;
    cursor: pointer;
}

[data-image-anims] img[data-image-anim] {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transform: none;
}

[data-image-anims] img.active {
    opacity: 1;
}

[data-image-anims] [data-image-decor] {
    opacity: 0;
    transition: opacity 300ms ease;
}

[data-image-anims]:has(img[data-image-anim="1"].active) [data-image-decor] {
    opacity: 1;
}


/*************************/

.anim-fade-scale img[data-image-anim] {
    opacity: 0;
    transform: scale(1.04);
    transition:
        opacity 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
        transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.anim-fade-scale img.active {
    opacity: 1;
    transform: scale(1);
}


/*************************/

.anim-dissolve img[data-image-anim] {
    opacity: 0;

    transition:
        opacity 200ms cubic-bezier(0.2, 0.0, 0.0, 1.0);
}

.anim-dissolve img.active {
    opacity: 1;
}


/*************************/

.anim-dissolve-easeout img[data-image-anim] {
    opacity: 0;

    transition:
        opacity 100ms cubic-bezier(0, 0, 0.2, 1);
    /* Ease-out */
}

.anim-dissolve-easeout img.active {
    opacity: 1;
}

/*************************/
