[data-image-anims] {
    position: relative;
    cursor: pointer;
}

[data-image-anims] img[data-image-anim] {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transform: none;
}

[data-image-anims] img.active {
    opacity: 1;
}

[data-image-anims] [data-image-decor] {
    opacity: 0;
    transition: opacity 300ms ease;
}

[data-image-anims]:has(img[data-image-anim="1"].active) [data-image-decor] {
    opacity: 1;
}


/*************************/

.anim-fade-scale img[data-image-anim] {
    opacity: 0;
    transform: scale(1.04);
    transition:
        opacity 300ms cubic-bezier(0.25, 0.1, 0.25, 1),
        transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.anim-fade-scale img.active {
    opacity: 1;
    transform: scale(1);
}


/*************************/

.anim-dissolve img[data-image-anim] {
    opacity: 0;

    transition:
        opacity 200ms cubic-bezier(0.2, 0.0, 0.0, 1.0);
}

.anim-dissolve img.active {
    opacity: 1;
}


/*************************/

.anim-dissolve-easeout img[data-image-anim] {
    opacity: 0;

    transition:
        opacity 100ms cubic-bezier(0, 0, 0.2, 1);
    /* Ease-out */
}

.anim-dissolve-easeout img.active {
    opacity: 1;
}

/*************************/

.home-animation {
    padding: 0px 0px 120px 0px;

    @media (max-width: 1440.98px) {
        padding: 129px 0px 120px 0px;
    }

    @media (max-width: 991.98px) {
        padding: 40px 0px 80px 0px;
    }

    &__container {
        @media (max-width: 487.98px) {
            padding: 0px 11px !important;
        }
    }

    &__content {
        padding: 0px 30px;
        width: 100%;
        height: 100%;

        @media (max-width: 1440.98px) {
            padding: 0;
        }
    }

    &__block {
        width: 100%;
        aspect-ratio: 1347/858;
        position: relative;
        height: auto;
        overflow: hidden;

    }

    .item {
        height: auto;
        object-fit: contain;
        position: absolute;
        will-change: transform;
        left: 0;
        top: 0;
    }

    .item-2 {
        z-index: 3;
    }

    .item-9 {
        z-index: 3;
    }

    .item-4 {
        z-index: 2;
    }

    .item-6 {
        z-index: 4;
    }

    .item-3 {
        z-index: 3;
    }

    .item-11 {
        z-index: 1;
    }

    .item-10 {
        z-index: 2;
    }

    .item-1 {
        aspect-ratio: 326 / 324;
        width: calc((326 / 1347) * 100%);
    }

    .item-2 {
        aspect-ratio: 324 / 324;
        width: calc((324 / 1347) * 100%);
    }

    .item-3 {
        aspect-ratio: 118 / 118;
        width: calc((118 / 1347) * 100%);
    }

    .item-4 {
        aspect-ratio: 326 / 324;
        width: calc((326 / 1347) * 100%);
    }

    .item-5 {
        aspect-ratio: 260 / 324;
        width: calc((260 / 1347) * 100%);
    }

    .item-6 {
        aspect-ratio: 121 / 121;
        width: calc((121 / 1347) * 100%);
    }

    .item-7 {
        aspect-ratio: 326 / 324;
        width: calc((326 / 1347) * 100%);
    }

    .item-8 {
        aspect-ratio: 94 / 117;
        width: calc((94 / 1347) * 100%);
    }

    .item-9 {
        aspect-ratio: 96 / 95;
        width: calc((96 / 1347) * 100%);
    }

    .item-10 {
        aspect-ratio: 251 / 137;
        width: calc((251 / 1347) * 100%);
    }

    .item-11 {
        aspect-ratio: 324 / 324;
        width: calc((324 / 1347) * 100%);
    }
}

