.separator-gray {
    width: 100%;
    height: 1px;
    background-color: var(--Gray, #C6C6C6);
}

.h1 {
    color: var(--Blue);
    font-family: "Archivo Black";
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;

    @media (max-width: 991.98px) {
        font-size: 30px;
    }
}

.h1-big {
    color: var(--White, #FFF);
    font-family: "Archivo Black";
    font-size: 92px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;

    @media (max-width: 991.98px) {
        font-size: 30px;
    }
}

.h2 {
    color: var(--White, #FFF);
    font-family: "Archivo Black";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 76.8px */
    text-transform: uppercase;

    @media (max-width: 991.98px) {
        font-size: 30px;
    }
}

.h3 {
    color: var(--White, #FFF);
    font-family: "Archivo Black";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 38.4px */
    text-transform: uppercase;

    @media (max-width: 991.98px) {
        font-size: 24px;
    }
}

/********************/

.link {
    color: var(--Blue, #0400CC);
    font-family: "Archivo Black";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    line-height: 1.1;
    text-transform: uppercase;
    transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1), color 200ms cubic-bezier(0.25, 0.1, 0.25, 1);

    span {
        width: 24px;
        height: 15px;
        display: block;
        position: relative;
    }

    img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1), visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
        position: absolute;
    }

    .button-img-blue {
        visibility: hidden;
        opacity: 0;
    }

    .button-img-black {
        visibility: visible;
        opacity: 1;
    }

    @media(hover:hover) {
        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }

    &:active {
        color: var(--Black, #1C1C1C);

        .button-img-blue {
            visibility: visible;
            opacity: 1;
        }

        .button-img-black {
            visibility: hidden;
            opacity: 0;
        }
    }


}

.link.white {
    color: var(--White, #FFFFFF);

    @media(hover:hover) {
        &:hover {
            opacity: 0.7;
        }
    }

    &:active {
        opacity: 0.5;
    }
}

/********************/
.sm-text {
    color: var(--Black, #1C1C1C);
    font-family: "Mardoto";
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.sub-text {
    font-family: Mardoto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    @media (max-width: 991.98px) {
        font-size: 18px;
    }
}

.label {
    display: flex;
    height: 72.597px;
    padding: 5.375px 24px;
    justify-content: center;
    align-items: center;
    background: var(--White, #FFF);
    gap: 5.375px;
    font-family: Mardoto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &.blue-bg {
        background: var(--Blue, #0400CC);
        color: var(--White, #FFF);
    }

    &.blue {
        color: var(--Blue, #0400CC);
    }

    &.black {
        color: var(--Black, #1C1C1C);
    }

    @media (max-width: 991.98px) {
        font-size: 18px;
        height: 45px;
        padding: 12px 24px;
    }
}

/********************/

.big-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    color: var(--White, #FFF);
    font-family: "Archivo Black";
    font-size: 72px;
    font-style: normal;
    transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    font-weight: 400; 
    line-height: 120%;
    text-transform: uppercase;

    &.bottom {
        padding-bottom: 27px;
        border-bottom: 3px var(--White, #FFF) solid;
    }

    @media (max-width: 991.98px) {
        font-size: 22px;

        &.bottom {
            padding-bottom: 11px;
        }
    }

    &.arrow-right-anim {
        img {
            opacity: 1;
        }
    }

    img {
        opacity: 0;
        transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1), margin-left 200ms cubic-bezier(0.25, 0.1, 0.25, 1);

        @media (max-width: 991.98px) {
            width: 24px;
            height: 15px;
        }
    }

    &:active {
        opacity: 0.4;
    }

    @media (max-width: 991.98px) {
        img {
            display: none;
        }
    }

    @media(hover:hover) {
        &:hover {
            cursor: pointer;

            img {
                opacity: 1;
            }

            @media (max-width: 991.98px) {
                img {
                    display: none;
                }
            }
        }
    }

    &.arrow-right-anim {
        justify-content: start;

        @media(hover:hover) {
            &:hover {
                img {
                    @media (min-width: 1556.98px) {
                        margin-left: calc((100dvw - (100dvw - 1408px)) - 842px);
                    }

                    @media (max-width: 1556.98px) {
                        margin-left: calc((100dvw - 982px));
                    }
                }
            }
        }
    }

    &.blue {
        color: var(--Blue, #0400CC) !important;
    }
}

/********************/
.nav-list {
    display: flex;
    gap: 14px;
    flex-direction: column;
    align-items: start;
}



/*************************/
.button {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    position: relative;
    transition: background-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1), opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1), color 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    font-family: "Archivo Black";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;

    span {
        width: 36px;
        height: 24px;
        display: block;
        position: relative;
    }

    img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        transition: opacity .3s ease-in, visibility .3s ease-in;
        position: absolute;
    }

    @media (max-width: 991.98px) {
        display: flex;
        padding: 14px 32px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        font-size: 20px;

        span {
            width: 24px;
            height: 14px;
        }
    }

    @media(hover:hover) {
        &:hover {
            opacity: 0.6;
        }
    }

    &.blue {
        background: var(--Blue, #0400CC);
        color: var(--White, #FFF);

        .button-img-blue {
            visibility: hidden;
            opacity: 0;
        }

        .button-img-white {
            visibility: visible;
            opacity: 1;
        }


        &:active {
            background: var(--White, #FFF);
            color: var(--Blue, #0400CC);
            opacity: 1;

            .button-img-blue {
                visibility: visible;
                opacity: 1;
            }

            .button-img-white {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    &.white {
        background: var(--White, #FFF);
        color: var(--Blue, #0400CC);

        &:active {
            background: var(--Blue, #0400CC);
            color: var(--White, #FFF);
            opacity: 1;

            .button-img-blue {

                visibility: hidden;
                opacity: 0;
            }

            .button-img-white {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

/**************************************/


.marquee {
    width: 110%;
    margin-left: -5%;
    overflow: hidden;
    position: relative;
}

.marquee__inner {
    display: flex;
    width: fit-content;
    animation: marquee 20s linear infinite;
}

.marquee__group {
    display: flex;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    white-space: nowrap;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


.marquee-1 {
    padding: 24px 0px;
    background: var(--Gray, #C6C6C6);

    @media (max-width: 991.98px) {
        padding: 11.774px 0px;
    }

    .item {
        margin-right: 36px;
        color: var(--White, #FFF);
        font-family: Mardoto;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;

        @media (max-width: 991.98px) {
            font-size: 16px;
            margin-right: 17.661px;

            img {
                width: 17.17px;
                height: 16.679px;
            }
        }
    }
}

.naming .marquee-1 {
    background: var(--Blue, #0400CC);

    @media (max-width: 991.98px) {
        padding: 16px 0px;
    }

    .item {
        opacity: 0.36;

        @media (max-width: 991.98px) {
            font-size: 23.736px;
            margin-right: 24px;
        }
    }
}

.marquee-2 {
    z-index: 3;
    position: relative;
    padding: 20px 0px;
    background: var(--White);


    .item {
        color: var(--Black, #1C1C1C);
        font-family: "Archivo Black";
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        /* 54px */
        text-transform: uppercase;

        @media (max-width: 991.98px) {
            font-size: 18px;
            margin-right: 14px;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}



.logo-design .marquee-2 {
    @media (max-width: 991.98px) {
        padding: 13px 0px;
        margin-bottom: 60px;
    }

    .item {
        color: var(--Gray, #C6C6C6);

        @media (max-width: 991.98px) {
            font-size: 28.723px;
            margin-right: 20px;
        }
    }
}

.marquee-3 {
    position: absolute;
    top: -46px;
    transform: rotate(3.092deg);
    background: var(--Gray, #C6C6C6);
    padding: 20px 0;

    @media (max-width: 767.98px) {
        padding: 7px 0px;
        top: -12px;
        transform: rotate(2.092deg);
    }

    @media (max-width: 487.98px) {
        transform: rotate(3.092deg);
    }

    .item {
        margin-right: 42px;

        img {
            @media (max-width: 767.98px) {
                width: 58.635px;
                height: 21.198px;
            }
        }

        @media (max-width: 767.98px) {
            margin-right: 14px;
        }
    }
}

.packaging-marquee-1 {
    position: relative;

    .marquee-3 {
        transform: rotate(0deg);
        position: relative;
        top: 0px;
    }

    .marquee-4 {
        top: 0px;
        transform: rotate(4.781deg);
        opacity: 1;
        background: var(--White, #FFF);
    }
}

.marquee-4 {
    position: absolute;
    top: -96px;
    opacity: 0.2;
    background: var(--Blue, #0400CC);
    transform: rotate(-7.424deg);
    padding: 20px 0;

    @media (max-width: 767.98px) {
        padding: 7px 0px;
        top: -22px;
    }

    .item {
        margin-right: 42px;

        img {
            @media (max-width: 767.98px) {
                width: 58.635px;
                height: 21.198px;
            }
        }

        @media (max-width: 767.98px) {
            margin-right: 14px;
        }
    }
}

.bottom-lines-decor {
    height: 213px;
    position: relative;

    .marquee-3 {
        top: inherit;
        z-index: 5;
        bottom: 101px;
        transform: rotate(2.623deg);

        @media (max-width: 1280.98px) {
            bottom: 44px;
        }

        @media (max-width: 767.98px) {
            top: 7px;
            bottom: inherit;
        }
    }

    .marquee-4 {
        top: inherit;
        bottom: 145px;
        transform: rotate(-3.683deg);
        opacity: 1;

        @media (max-width: 1280.98px) {
            bottom: 86px;
        }

        @media (max-width: 767.98px) {
            top: -5px;
            bottom: inherit;
        }
    }

    @media (max-width: 1280.98px) {
        height: 165px;
    }

    @media (max-width: 767.98px) {
        height: 0;
    }
}


.section-services-other {
    @media (max-width: 991.98px) {
        .label {
            span {
                display: none;
            }

            text-transform: capitalize;
        }
    }

    .section-services__item-hidden-ds {
        display: none;

        @media (max-width: 991.98px) {
            display: block;
        }
    }
}