@import url(https://fonts.googleapis.com/css?family=Archivo+Black:regular);

@font-face {
    font-family: "Mardoto";
    src: url("/fonts/Mardoto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mardoto";
    src: url("/fonts/Mardoto-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mardoto";
    src: url("/fonts/Mardoto-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mardoto";
    src: url("/fonts/Mardoto-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}