.header {
    position: relative;
    z-index: 2000;
    background: var(--White, #FFF);
    // .header__wrapper

    &__wrapper {
        display: flex;
        width: 100%;
        padding: 24px 60px;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 991.98px) {
            padding: 14px 20px;
        }
    }

    // .header__logo

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 991.98px) {
            max-width: 108px;
        }

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    // .header__right

    &__right {}
}

.header-right {
    display: flex;
    align-items: center;
    gap: 44px;

    // .header-right__link

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 991.98px) {
            display: none;
        }
    }

    // .header-right__menu-button

    &__menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: max-content;

        span:nth-child(2) {
            display: none;
        }

        @media (max-width: 991.98px) {
            span:nth-child(1) {
                display: none;
            }

            span:nth-child(2) {
                display: block;
            }

            font-size: 0;
        }
    }
}

.header-nav__menu {
    position: fixed;
    top: 0;
    z-index: 500;
    right: 0;
    transform: translateX(100%);
    background: var(--Blue, #0400CC);
    display: flex;
    width: 375px;
    height: 100%;
    transition: transform .3s ease-in-out;
    padding: 60px 32px 32px 32px;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    align-items: flex-start;
    gap: 20px;
    @media (max-width: 487.98px) {
      width: 100%;
    }
}

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    &__close {
        position: absolute;
        right: 20px;
        top: 24px;
    }

    &__sub-title {
        color: var(--White, #FFF);
        font-family: Mardoto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.5;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
    }

    &__separator {
        width: 100%;
        height: 1px;
        background: var(--White, #FFF);
    }
}

.header-nav__overlay {
    position: fixed;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease-in;
}

.header._active {
    .header-nav__overlay {
        opacity: 1;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
    }

    .header-nav__menu {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}