* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

html,
body {
    min-width: 100%;
    height: 100%;
}

body {
    font-family: "Mardoto", sans-serif;
    font-size: 24px;
    line-height: 1;
    color: var(--Blue);
    text-size-adjust: 100%;
    background-color: var(--White);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Mardoto", sans-serif;
    font-size: inherit;
}

button {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}