<section class="section-cta">
    <div class="section-cta__container">
        <h2 class="section-cta__title">
            {{title}}
        </h2>
        <a href="{{link}}" class="section-cta__button button white">
            {{buttonText}}
            <span>
                <img class="button-img-white" width="36" height="22"
                    src="/assets/icons/button-arrow-white.svg" alt="Arrow Right">
                <img class="button-img-blue" width="36" height="22"
                    src="/assets/icons/button-arrow-blue.svg" alt="Arrow Right">
            </span>
        </a>
    </div>
</section>