<header class="header">
    <div class="header__wrapper">
        <a href="/" class="header__logo">
            <img width="194" height="25" src="/assets/icons/Logo.svg" alt="Logo">
        </a>
        <div class="header__right header-right">
            <a class="header-right__link link">
                Start a project
                <span>
                    <img class="button-img-white" width="36" height="22" src="/assets/icons/button-arrow-blue.svg"
                        alt="Arrow Right">
                    <img class="button-img-blue" width="36" height="22" src="/assets/icons/button-arrow-black.svg"
                        alt="Arrow Right">
                </span>
            </a>
            <button class="header-right__menu-button">
                <span class="link">Menu</span>
                <span class="burger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="15" viewBox="0 0 34 15" fill="none">
                        <path d="M34 0H0V6.15624H34V0Z" fill="#0400CC" />
                        <path d="M34 7.94555H0V14.1018H34V7.94555Z" fill="#0400CC" />
                    </svg>
                </span>
            </button>
        </div>
        <nav class="header-nav">
            <div class="header-nav__overlay">

            </div>
            <div class="header-nav__menu">
                <button class="header-nav__close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M0.31665 0.316406L15.3167 15.3164" stroke="white" stroke-width="0.895522" />
                        <path d="M15.3167 0.316406L0.31665 15.3164" stroke="white" stroke-width="0.895522" />
                    </svg>
                </button>
                <div class="header-nav__item">
                    <p class="header-nav__sub-title">Services</p>
                    <ul class="header-nav__list nav-list">
                        <li>
                            <a href="/branding" class="link white">
                                Branding
                            </a>
                        </li>
                        <li>
                            <a href="/logo-design" class="link white">
                                Logo design
                            </a>
                        </li>
                        <li>
                            <a href="/packaging" class="link white">
                                Packaging
                            </a>
                        </li>
                        <li>
                            <a href="/naming" class="link white">
                                Naming
                            </a>
                        </li>
                        <li>
                            <a href="/social-media-design" class="link white">
                                Social media design
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav__separator"></div>
                <ul class="header-nav__list nav-list">
                    <li>
                        <a href="/blog" class="link white">
                            Blog
                        </a>
                    </li>
                </ul>
                <div class="header-nav__separator"></div>
                <ul class="header-nav__list nav-list">
                    <li>
                        <a href="/contact" class="link white">
                            Contact us
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>